<app-navbar></app-navbar>
<div class="container">
  <div class="sidebar">
    <app-sidenav></app-sidenav>
  </div>
  <div class="content">
    <div class="title" *ngIf="url === '/home'">
      {{ url }}
    </div>
    <div class="count" *ngIf="url === '/home' && !notVisibleToUser">
      Total Users: {{ userCount }}
    </div>
    <div class="count" *ngIf="url === '/home' && !notVisibleToUser">
      Total Admins: {{ adminCount }}
    </div>
    <div class="chart-container" *ngIf="url === '/home' && !notVisibleToUser">
      <canvas #chartCanvas></canvas>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
