.container {
  width: 100%;
  max-width: 500px;
  margin-left: 40%;
  margin-top: 20%;
  padding: 30px;
  max-height: 700px;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
}
.select-field {
  margin-bottom: 20px;
}

.button-container {
  margin-top: 50px;
}
.title {
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
  margin-top: 10px; 
  margin-left:10px;

}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.select,
.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-button {
  color: white;
 
}



.mat-horizontal-stepper-header-container {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

.mat-step-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ddd;
  border-radius: 4px;
}

.mat-step-header .mat-step-icon {
  background-color: #888;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.mat-step-header .mat-step-label {
  font-weight: bold;
}

.mat-step-header.mat-step-header-selected {
  background-color: #4CAF50;
  color: #fff;
}

.mat-step-header.mat-step-header-completed {
  background-color: #45a049;
  color: #fff;
}

.mat-step-content {
  padding: 50px;
 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh; 
  margin-right: 30%;
  margin-left: 10%;
  color:rgb(8, 8, 150);
}
.form-field {
  display: flex;
  margin-right:20px;
  align-items: center;
  margin-bottom: 20px;
}

.form-field label {
  width: 200px;
  margin-right:10px;
  white-space: nowrap;
}

.form-field input {
  flex-grow:0.5;
}
